/*
    Created By: Jared Longnecker
    Last Updated: 03/19/2022
    Description: Styles for the page, divided by page styles and spinner styles
*/

/* *****************************************
 *              SPINNER CSS
 * *****************************************/

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(90px);
  }
}

@keyframes zoomin {
  0% {
    left: -101vw;
  }
  100% {
    left: 45px;
  }
}

@keyframes zoomout {
  0% {
    left: 45px;
  }
  100% {
    left: 101vw;
  }
}

.container span {
  display: block;
  border-radius: 100%;
  background-color: #edf5e1;
  width: 10px;
  height: 10px;
}

.bounce {
  animation: bounce 1s forwards ease-in-out alternate infinite;
}

.container {
  position: absolute;
  height: 100px;
  left: -101vw;
  top: 0px;
}

.zoom-in {
  animation: zoomin 0.5s both ease-out;
}

.zoom-out {
  animation: zoomout 0.5s both ease-in;
}

.spinner {
  position: relative;
  height: 100px;
  width: 100px;
  background-image: linear-gradient(
    -10deg,
    #5cdb95 5%,
    #379683 43%,
    #8ee4af 45%,
    #5cdb95 95%
  );
  border-radius: 100%;
  margin: auto;
}

#timer {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 80px;
  font-weight: bold;
  z-index: 1;
}

/* *****************************************
 *              PAGE CSS
 * *****************************************/

p {
  padding: 0 10%;
  font-size: 1.5rem;
}

ul {
  text-align: left;
  margin: 0;
}

li {
  margin: 1rem;
}

input {
  outline: 0;
  border: 0;
  background-color: rgb(0, 0, 0, 0);
  border-bottom: 1px solid #edf5e1;
  color: #05386b;
  text-align: center;
  font-size: 1.2rem;
}

/* Disable up/down control for the number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.demo {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  justify-content: center;
}
